<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sauvegarder
    </ion-title>
    <ion-buttons slot="end">
      <ion-tab-button (click)="openCamera()">
        <ion-icon color="secondary" name="cloud-download-outline"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap" color="primary">
      Télécharger tous type de fichier / Download Any file
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label color="dark">Android</ion-label>
      <ion-button>
        <ion-icon slot="icon-only" name="logo-android" color="success"></ion-icon>
      </ion-button>
    </ion-list-header>

    <ion-item (click)="download('audio')">
      <ion-icon name="musical-notes-outline" slot="start" color="danger"></ion-icon>
      <ion-label>
        Audio
      </ion-label>
      <div *ngIf="true; then downloadBtn"></div>
    </ion-item>

    <ion-item (click)="download('video')">
      <ion-icon name="videocam-outline" slot="start" color="dark"></ion-icon>
      <ion-label>
        Video / Movie
      </ion-label>
      <div *ngIf="true; then downloadBtn"></div>
    </ion-item>

    <ion-item (click)="download('image')">
      <ion-icon name="image-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        Image / Picture
      </ion-label>
      <div *ngIf="true; then downloadBtn"></div>
    </ion-item>

    <ion-item (click)="download('file')">
      <ion-icon name="document-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        Fichiers / Files (any)
      </ion-label>
      <div *ngIf="true; then downloadBtn"></div>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-list-header>
      <ion-label color="dark">IOS</ion-label>
      <ion-button>
        <ion-icon slot="icon-only" name="logo-apple" color="dark"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item>
      <ion-icon name="musical-notes-outline" slot="start" color="danger"></ion-icon>
      <ion-label>
        Audio
      </ion-label>
      <div *ngIf="true; then opendBtn"></div>
    </ion-item>
    <ion-item>
      <ion-icon name="videocam-outline" slot="start" color="dark"></ion-icon>
      <ion-label>
        Video / Movie
      </ion-label>
      <div *ngIf="true; then downloadBtn"></div>
    </ion-item>
    <ion-item>
      <ion-icon name="image-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        Image / Picture
      </ion-label>
      <div *ngIf="true; then downloadBtn"></div>
    </ion-item>
    <ion-item>
      <ion-icon name="document-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        Fichiers / Files (any)
      </ion-label>
      <div *ngIf="true; then opendBtn"></div>
    </ion-item>
  </ion-list> -->


  <ng-template #downloadBtn>
    <ion-button slot="end">
      Télécharger
    </ion-button>
  </ng-template>

  <!-- <ng-template #opendBtn>
    <ion-button slot="end">
      Ouvrir / Open
    </ion-button>
  </ng-template> -->

</ion-content>